.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

.vscode/

.DS_Store

run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

## Thaumaturge
/thaumaturge-26.1.2-NeoForge-BETA-0.2.1.jar

## Traveler's Backpack（Modrinth maven 的同名版本是 Fabric 构建，编译使用本地 NeoForge jar）
/travelersbackpack-*.jar
